.page-header, .page-footer {
  display: flow-root;
  background-color: #333;
  color: #fff;
}

.filter-fields {
  display: flex;
  align-items: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}

.product {
  border: 1px solid black;
  background-color: #ddd;
}